<ion-view align-title="center" view-title="About">
	<ion-content class='default-text padding'>
		Psychologist Arthur Aron performed a study that explores whether intimacy between two strangers can be accelerated by having them ask each other a specific series of personal questions. 
		<br/><br/>
		The 36 questions in the study are broken up into three sets, with each set intended to be more probing than the previous one.		
		<br/><br/>
		Fun for first dates, and intimate evenings with your partner. The app developer is not responsible for any feelings <span class='crim'>36 to Love</span> may induce.
	</ion-content>	
</ion-view>
